{% load crispy_forms_tags %}

<form method="post" hx-post="{% url 'references:event-template-service-delete' service.event_template.id  service.id %}" 
      hx-target="#event-template-services-list" hx-swap="innerHTML">
    {% csrf_token %}
    <p>Вы уверены, что хотите удалить услугу {{ service.name }}?</p>
    <button type="submit" class="btn btn-danger">Удалить</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
</form>

{% block scripts %}
    <script>
        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Если это была успешная отправка формы, обновляем страницу
            window.location.reload();
        });
    </script>
{% endblock %}