<div id="event-times-list">
    <ul class="list-group">
        {% for time in event.eventtimes_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ time.begin_date }} - {{ time.end_date }}
            <span>
                <button class="btn btn-sm btn-warning" hx-get="{% url 'references:event-times-update' event.id time.id %}" hx-target="#event-time-{{ time.id }}" hx-swap="outerHTML">Изменить</button>
                <button class="btn btn-sm btn-danger" hx-get="{% url 'references:event-times-delete' event.id time.id %}" hx-target="#event-time-{{ time.id }}" hx-swap="outerHTML">Удалить</button>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Обновляем форму -->
<div id="event-times-form-container">
    {% include 'references/partials/event_times_form.html' with form=form event=event %}
</div>