{% load crispy_forms_tags %}
{% load form_filters %}

<form method="post"
      hx-post="{% if form.instance.id %}{% url 'references:event-template-service-update' form.instance.event_template.id form.instance.id %}{% else %}{% url 'references:event-template-service-create' event_template_id=event_template.id %}{% endif %}"
      hx-target="#event-template-services-list" hx-swap="innerHTML"
      hx-on="htmx:afterRequest: closeModal()">
    {% csrf_token %}

    <!-- Поля формы -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="{{ form.service.id_for_label }}" class="form-label">{{ form.service.label }}</label>
                {{ form.service|add_class:"form-control" }}
            </div>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
    </div>

    <!-- Кнопка для сохранения -->
    <button type="submit" class="btn btn-primary mt-3">
        {% if form.instance.id %}
            Сохранить
        {% else %}
            Добавить
        {% endif %}
    </button>
</form>

{% block scripts %}
<script>
    function closeModal() {
        var modalElement = document.getElementById('editServiceModal');
        var modalInstance = bootstrap.Modal.getInstance(modalElement);
        modalInstance.hide();
    }
</script>
{% endblock %}
