{% load crispy_forms_tags %}

<form method="post"
      hx-post="{% if form.instance.id %}
        {% url 'references:event-times-update' form.instance.event.id form.instance.id %}
        {% else %}{% url 'references:event-times-create' event.id %}{% endif %}"
      hx-target="#event-times-list" hx-swap="innerHTML"
      hx-on="htmx:afterRequest: closeModal()">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">
        {% if form.instance.id %}
            Сохранить
        {% else %}
            Добавить
        {% endif %}
    </button>
</form>

{% block scripts %}
    <script>
        function closeModal() {
            // Закрыть модальное окно после успешного добавления или обновления
            const modalElement = document.getElementById('editTimeModal');
            var modalInstance = bootstrap.Modal.getInstance(modalElement);
            if (modalInstance) {
                modalInstance.hide();
            }
        }
    </script>
{% endblock %}