{% load crispy_forms_tags %}

<form method="post"
      hx-post="{% if form.instance.id %}
        {% url 'references:event-times-update' form.instance.event.id form.instance.id %}
        {% else %}{% url 'references:event-times-create' event.id %}{% endif %}"
      hx-target="#event-times-list" hx-swap="innerHTML"
      hx-on="htmx:afterRequest: closeModal()">
    {% csrf_token %}

    <!-- Arrange begin_date, end_date, and is_active in one row -->
    <div class="row">
        <div class="col-md-4">
            {{ form.begin_date|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.end_date|as_crispy_field }}
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <div class="form-check">
                {{ form.is_active|as_crispy_field }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
        {% if form.instance.id %}
            Сохранить
        {% else %}
            Добавить
        {% endif %}
    </button>
</form>

{% block scripts %}
    <script>        
        
        function closeModal() {
            // Закрыть модальное окно после успешного добавления или обновления
            const modalElement = document.getElementById('editTimeModal');
            var modalInstance = bootstrap.Modal.getInstance(modalElement);
            if (modalInstance) {
                modalInstance.hide();
            }
        }
    </script>
{% endblock %}
