{% extends "base.html" %}
{% load i18n %}
{% block title %}Categories{% endblock %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<h1>Categories</h1>
<ul>
    {% for category in categories %}
    <li><a href="{% url 'news:category_detail' category.slug %}">
        {% if LANGUAGE_CODE == 'ru' %}
        {{ category.name_ru }}
        {% elif LANGUAGE_CODE == 'kz' %}
        {{ category.name_kz }}
        {% else %}
        {{ category.name_en }}
        {% endif %}
    </a></li>
    {% endfor %}
</ul>
<a href="{% url 'news:category_create' %}" class="btn btn-primary">Create Category</a>
{% endblock %}
