{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
  <h1>{{ title }}</h1>
  <p>{{ content }}</p>
  <p><strong>Source:</strong> {{ news.source }}</p>
  <a href="{% url 'news:news_update' news.slug %}" class="btn btn-warning">Edit</a>
  <a href="{% url 'news:news_delete' news.slug %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'news:news_images_create' news.slug %}" class="btn btn-primary">Add Image</a>
  <ul>
    {% for image in news.newsimages_set.all %}
      <li><img src="{{ image.image.url }}" alt=""></li>
      <li><a href="{% url 'news:news_images_delete' image.pk %}" class="btn btn-danger">Delete Image</a></li>
    {% endfor %}
  </ul>
{% endblock %}
