{% extends 'base.html' %}

{% block title %}Детали заказа{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Заказ №{{ object.id }}</h3>
    <p>Дата: {{ object.date }}</p>
    <p>Сумма итого: {{ object.amount }} ₸</p>
    <p>Статус: {{ object.status }}</p>

    <hr class="my-3"> 
    {% include 'ticket_sales/partials/ticket_sales_service_list_view.html' with ticket_sale=object %}

    <hr class="my-3"> 
    {% include 'ticket_sales/partials/ticket_sales_payments_list_view.html' with ticket_sale=object %}
    
    <hr class="my-3"> 
    <a href="{% url 'ticket_sales:ticket-sale-update' object.id %}" class="btn btn-warning mt-1">Изменить</a>
    <a href="{% url 'ticket_sales:ticket-sale-list' %}" class="btn btn-secondary mt-1">Назад к списку</a>
</div>
{% endblock %}