{% extends 'base.html' %}

{% block title %}Удалить продажу билета{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Удалить продажу билета №{{ object.id }}?</h1>
    <p>Вы уверены, что хотите удалить продажу билета от {{ object.date }} на сумму {{ object.amount }} ₸?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'ticket_sales:ticket-sale-list' %}" class="btn btn-secondary">Отменить</a>
    </form>
</div>
{% endblock %}