{% extends 'base.html' %}

{% block title %}Заказы{% endblock %}

{% block content %}
    <!-- Confirmation modal for deleting selected orders -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Подтвердите удаление</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить выбранные заказы?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-danger" id="confirm-delete">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    
<div class="container">
    <h3>Заказы</h3>
    
    <div class="row mb-4">
        {% if perms.ticket_sales.add_ticketsale %}
            <div class="col-md-6">            
                <form action="{% url 'ticket_sales:ticket-sale-create' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Новый заказ</button>
                </form>
                <!-- Button to select unpaid orders -->
                <button type="button" class="btn btn-secondary btn-sm mt-2" id="select-unpaid">
                    Выбрать не оплаченные
                </button>
                <!-- Button to delete selected orders -->
                <button type="button" class="btn btn-danger btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                    Удалить выбранные
                </button>        
            </div>
        {% endif %}
        <div class="col-md-6">
            <form method="GET" action="{% url 'ticket_sales:ticket-sale-list' %}" class="mb-4">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Поиск по номеру заказа" value="{{ request.GET.q }}">
                    <button type="submit" class="btn btn-outline-primary">Поиск</button>
                    <a href="{% url 'ticket_sales:ticket-sale-list' %}" class="btn btn-outline-danger">Отмена</a>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                {% if perms.ticket_sales.delete_ticketsale %}
                    <th><input type="checkbox" id="select-all"></th>
                {% endif %}
                <th>Номер</th>
                <th>Дата время</th>
                <th>Сумма</th>
                <th>Оплачено</th>
                <th>Кол-во билетов</th>
                <th>Статус</th>
                <th>Тип продажи</th>
                {% if perms.ticket_sales.change_ticketsale %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sale in object_list %}
            <tr> 
                {% if perms.ticket_sales.delete_ticketsale %}
                    <td><input type="checkbox" class="order-checkbox" value="{{ sale.id }}"></td>
                {% endif %}
                <td>
                    <a href="{% url 'ticket_sales:ticket-sale-detail' sale.id %}">
                        {{ sale.id }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'ticket_sales:ticket-sale-detail' sale.id %}">
                        {{ sale.date|date:"d.m.Y" }} {% if sale.time %}
                                                        {{ sale.time|date:"H:i:s" }}
                                                    {% else %}
                                                        00:00:00
                                                    {% endif %}
                    </a>
                </td>
                <td>{{ sale.amount }} ₸</td>
                <td>{{ sale.paid_amount }} ₸</td>
                <td>{{ sale.tickets_count }}</td>
                <td>{{ sale.get_status_display }}</td>
                <td>{{ sale.get_sale_type_display }}</td>
                <td>
                    {% if perms.ticket_sales.change_ticketsale %}
                    <a href="{% url 'ticket_sales:ticket-sale-update' sale.id %}" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    {% endif %}
                    {% if perms.ticket_sales.delete_ticketsale %}
                    <a href="{% url 'ticket_sales:ticket-sale-delete' sale.id %}" class="btn btn-sm btn-danger">
                        <i class="bi bi-x-circle"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Нет данных для отображения.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <nav aria-label="Пагинация">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock %}

{% block scripts %}
<script>
    // Select all checkboxes when "Select All" is clicked
    document.getElementById('select-all').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.order-checkbox');
        checkboxes.forEach(checkbox => checkbox.checked = this.checked);
    });

    // Select unpaid orders when "Select Unpaid" is clicked
    document.getElementById('select-unpaid').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('.order-checkbox');
        checkboxes.forEach(checkbox => {
            const status = checkbox.closest('tr').querySelector('td:nth-child(7)').innerText.trim();
            if (status === 'Не оплачен' || status === 'Отменен') {
                checkbox.checked = true;
            }
        });
    });

    // Delete selected orders on modal confirmation
    document.getElementById('confirm-delete').addEventListener('click', function() {
        const selectedIds = Array.from(document.querySelectorAll('.order-checkbox:checked'))
            .map(checkbox => checkbox.value);

        if (selectedIds.length > 0) {
            fetch("{% url 'ticket_sales:bulk-delete' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ ids: selectedIds })
            })
            .then(response => {
                if (response.ok) {                                        
                    const checkboxes = document.querySelectorAll('.order-checkbox');
                    checkboxes.forEach(checkbox => checkbox.checked = false);
                    
                    location.reload(); // Refresh the page after deletion
                }
            });
        }
        else {
            alert('Нужно выбрать хотя бы один заказ на удаление')
        }
    });
</script>
{% endblock %}
