{% extends 'base.html' %}

{% block title %}Удалить заказ{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Удалить заказ №{{ object.id }}?</h3>
    <p>Вы уверены, что хотите удалить заказ №{{ object.id }} от {{ object.date }} на сумму {{ object.amount }} ₸?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'ticket_sales:ticket-sale-list' %}" class="btn btn-secondary">Отменить</a>
    </form>
</div>
{% endblock %}