{% extends 'base.html' %}

{% block title %}Заказы{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Заказы</h3>
    
    <div class="row mb-4">
        <div class="col-md-6">
            <form action="{% url 'ticket_sales:ticket-sale-create' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Новый заказ</button>
            </form>
        </div>
        <div class="col-md-6">
            <form method="GET" action="{% url 'ticket_sales:ticket-sale-list' %}" class="mb-4">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Поиск по номеру заказа" value="{{ request.GET.q }}">
                    <button type="submit" class="btn btn-outline-primary">Поиск</button>
                    <a href="{% url 'ticket_sales:ticket-sale-list' %}" class="btn btn-outline-danger">Отмена</a>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>                
                <th>Номер</th>
                <th>Дата время</th>
                <th>Сумма</th>
                <th>Оплачено</th>
                <th>Кол-во билетов</th>
                <th>Статус</th>
                <th>Тип продажи</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for sale in object_list %}
            <tr>                
                <td>
                    <a href="{% url 'ticket_sales:ticket-sale-detail' sale.id %}">
                        {{ sale.id }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'ticket_sales:ticket-sale-detail' sale.id %}">
                        {{ sale.date|date:"d.m.Y" }} {% if sale.time %}
                                                        {{ sale.time|date:"H:i:s" }}
                                                    {% else %}
                                                        00:00:00
                                                    {% endif %}
                    </a>
                </td>
                <td>{{ sale.amount }} ₸</td>
                <td>{{ sale.paid_amount }} ₸</td>
                <td>{{ sale.tickets_count }}</td>
                <td>{{ sale.get_status_display }}</td>
                <td>{{ sale.get_sale_type_display }}</td>
                <td>
                    <a href="{% url 'ticket_sales:ticket-sale-update' sale.id %}" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{% url 'ticket_sales:ticket-sale-delete' sale.id %}" class="btn btn-sm btn-danger">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Нет данных для отображения.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <nav aria-label="Пагинация">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock %}
