{% extends 'base_terminal.html' %}
{% load crispy_forms_tags %}
{% load form_filters %}

{% block title %}Покупка билета{% endblock %}

{% block header %}
	<style>
        .small-spacing {
            margin-top: 5px;  /* Задаем меньший отступ, вместо обычного 10-20px */
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Модальное окно Добавление услуги -->
    <div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl"> <!-- Изменено на modal-xl для более широкого окна -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editServiceModalLabel">Выбор сеанса</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick="hideServiceModal();"></button>
                </div>
                <div class="modal-body">
                    <!-- Сюда будет загружена форма с помощью HTMX -->
                    <div id="modal-body-content"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно оплаты -->
    <div class="modal fade" id="editPaymentModal" tabindex="-1" aria-labelledby="editPaymentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPaymentModalLabel">Оплата</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick="hideServiceModal();"></button>
                </div>
                <div class="modal-body">
                    <!-- Сюда будет загружена форма с помощью HTMX -->
                    <div id="modal-payment-body-content"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 110px;">
        <h3>Покупка билета</h3>

        <form id="ticket-sale-form" method="post">
            {% csrf_token %}
            <!-- Сетка для первой строки -->
            <div class="row d-none">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.date.label_tag }}
                        {{ form.date|add_class:"form-control" }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.amount.label_tag }}
                        <input type="text" class="form-control" name="{{ form.amount.name }}"
                               id="id_{{ form.amount.name }}" value="{{ form.amount.value }}" disabled>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.paid_amount.label_tag }}
                        <input type="text" class="form-control" name="{{ form.paid_amount.name }}"
                               id="id_{{ form.paid_amount.name }}" value="{{ form.paid_amount.value }}" disabled>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.refund_amount.label_tag }}
                        <input type="text" class="form-control" name="{{ form.refund_amount.name }}"
                               id="id_{{ form.refund_amount.name }}" value="{{ form.refund_amount.value }}" disabled>
                    </div>
                </div>
            </div>

            <!-- Сетка для новой строки -->
            <div class="row mt-3 d-none">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.status.label_tag }}
                        <input type="text"
                               class="form-control"
                               name="{{ form.status.name }}"
                               id="id_{{ form.status.name }}"
                               value="{{ form.instance.get_status_display }}"
                               disabled>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.paid_cash.label_tag }}
                        <input type="text" class="form-control" name="{{ form.paid_cash.name }}"
                               id="id_{{ form.paid_cash.name }}" value="{{ form.paid_cash.value }}" disabled>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.paid_card.label_tag }}
                        <input type="text" class="form-control" name="{{ form.paid_card.name }}"
                               id="id_{{ form.paid_card.name }}" value="{{ form.paid_card.value }}" disabled>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.paid_qr.label_tag }}
                        <input type="text" class="form-control" name="{{ form.paid_qr.name }}"
                               id="id_{{ form.paid_qr.name }}" value="{{ form.paid_qr.value }}" disabled>
                    </div>
                </div>
            </div>

            <hr class="my-3">
            <div id="ticket-sales-service-list">
                {% if form.instance.id %}
                    {% include 'ticket_sales/partials/ticket_sales_service_list.html' with ticket_sale=form.instance %}
                {% endif %}
            </div>
            
            <button type="button" class="btn btn-primary btn-lg"
                    hx-get="{% url 'ticket_sales:ticket-sales-service-create' form.instance.id %}"
                    hx-target="#modal-body-content"
                    hx-trigger="click" data-bs-toggle="modal" data-bs-target="#editServiceModal"
            >
                {% if form.instance.ticketsalesservice_set.exists %}
                    Добавить сеанс
                {% else %}
                    Выбрать сеанс
                {% endif %}
            </button>
            
            <hr class="my-3">
            <div id="ticket-sales-payments-list">
                {% if form.instance.id %}
                    {% include 'ticket_sales/partials/ticket_sales_payments_list.html' with ticket_sale=form.instance %}
                {% endif %}
            </div>

            <!-- Кнопки для оплаты -->
            {% if form.instance.amount > 0 %}
                <button type="button" class="btn btn-success btn-lg mt-2" id="start-payment"
                        data-ticket-sale-id="{{ form.instance.id }}">
                    Оплата
                </button>                
            {% else %}
                <button type="button" class="btn btn-success btn-lg mt-2" id="start-payment" disabled>
                    Оплата
                </button>
            {% endif %}
            <hr class="my-3">

            <div class="mt-2">
                {% if form.instance.id %}
                    <button type="button" class="btn btn-outline-secondary btn-lg" id="print-ticket-button"
                            data-ticket-sale-id="{{ form.instance.id }}" onclick="printTicket()">
                        Печать
                    </button>
                {% endif %}

                <a href="{% url 'ticket_sales:home-terminal' %}" id="back-to-list"
                   class="btn btn-secondary btn-lg">Отмена</a>
            </div>
        </form>
    </div>

    <!-- Скрытая область для печати -->
    <div id="print-content" style="display: none;"></div>
{% endblock %}


{% block scripts %}

    <!-- Проверяем статус -->
    {% if form.instance.status == "PD" %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Делаем все элементы формы неактивными
                const formElements = document.querySelectorAll('#ticket-sale-form input, #ticket-sale-form select, #ticket-sale-form textarea, #ticket-sale-form button');
                formElements.forEach(element => {
                    element.disabled = true;
                });

                // Оставляем активной только кнопку "Распечатать"
                const printButton = document.getElementById('print-ticket-button');
                if (printButton) {
                    printButton.disabled = false;
                }

                // Оставляем активной только кнопку "Распечатать"
                const backToList = document.getElementById('back-to-list');
                if (backToList) {
                    backToList.disabled = false;
                }
            });
        </script>
    {% endif %}

    <!-- Скрипт печати -->
    <script>
        function printTicket() {
            // Запрос на получение данных для печати (TicketSalesService)
            fetch("{% if form.instance.id %}{% url 'ticket_sales:ticket-print-data' form.instance.id %}{% endif %}", {
                method: 'GET',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                const printContent = document.getElementById('print-content');
                printContent.innerHTML = '';  // Очистить старый контент

                data.services.forEach(service => {
                    for (let i = 0; i < service.tickets_count; i++) {
                        printContent.innerHTML += `
                        <div class="ticket" style="width: 360px; font-size: 20px; page-break-after: always;">
                            <!-- Центрируем QR-код -->
                            <div style="text-align: center;">
                                <img src="https://api.qrserver.com/v1/create-qr-code/?size=210x210&data=${service.ticket_guid}"
                                    alt="QR Code" style="display: inline-block;">
                            </div>
                            <div class="small-spacing"></div>
                            Билет № <strong>${service.sale_id}</strong>-<strong>${service.number}</strong>
                            <div class="small-spacing"></div>
                            <div>Количество билетов: <strong>1</strong></div>
                            <div class="small-spacing"></div>
                            <strong>Дата и время сеанса:</strong>
                            <div>${service.event_date}    ${service.event_time}</div>
                            <div class="small-spacing"></div>
                            <strong>Услуга:</strong>
                            <div>${service.service_name}</div>
                            <div class="small-spacing"></div>
                            <strong>Мероприятие:</strong>
                            <div>${service.event_name}</div>
                            <div class="small-spacing"></div>
                            <strong>Стоимость билета:</strong>
                            <div>${service.amount}</div>
                            <div class="small-spacing"></div>
                            <strong>Подробная информация:</strong>
                            <div>www.muzaidyny.kz <i class="bi bi-telephone-fill"></i> 8(7172) 242424</div>
                            <hr>
                        </div>
                        `;
                    }
                });

                if (!data.services || data.services.length === 0) {
                    printContent.innerHTML = "<p>Билеты не оплачены</p>"
                }

                // Выполняем печать сразу
                const originalContent = document.body.innerHTML;
                document.body.innerHTML = printContent.innerHTML;

                window.print();  // Печать без модального окна

                // Восстановить содержимое после печати
                document.body.innerHTML = originalContent;
                location.reload();  // Обновить страницу после печати
            });
        }       
    </script>

    <script>
      
        function hideServiceModal() {
            //window.location.reload();
        }

        if (document.getElementById('start-payment')) {
            document.getElementById('start-payment').addEventListener('click', function () {
                const progressBar = document.getElementById('main-progress-bar');
                const progressText = document.getElementById('progress-bar-text');

                // Отобразить прогресс-бар
                progressBar.classList.remove('d-none');

                // Отправка данных на терминал
                progressText.textContent = 'Соединение с терминалом...';

                const paymentFormData = new FormData(document.querySelector('form'));

                // Получаем значения из атрибутов данных
                const ticketSaleId = this.getAttribute('data-ticket-sale-id');

                fetch(`/ticket-sales/payment-process-terminal/${ticketSaleId}/`, {
                    method: 'POST',
                    body: paymentFormData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'wait') {
                            progressText.textContent = 'Проводим оплату...';
                            checkPaymentStatus(data.process_id, ticketSaleId);
                        } else {
                            progressText.textContent = 'Ошибка соединения';
                            setTimeout(() => progressBar.classList.add('d-none'), 5000);
                        }
                    })
                    .catch(() => {
                        progressText.textContent = 'Ошибка соединения';
                        setTimeout(() => progressBar.classList.add('d-none'), 5000);
                    });
            })
        }
        ;


        function checkPaymentStatus(processId, ticketSaleId) {
            const progressBar = document.getElementById('main-progress-bar');
            const progressText = document.getElementById('progress-bar-text');

            fetch(`{% url 'ticket_sales:check-payment-status-terminal' process_id='$1' ticket_sale_id='$2' %}`
                .replace('$1', processId)
                .replace('$2', ticketSaleId))
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'wait') {
                        setTimeout(() => checkPaymentStatus(processId, ticketSaleId), 1000);
                    } else if (data.status === 'success') {
                        progressText.textContent = 'Заказ оплачен';
                        setTimeout(() => {
                            progressBar.classList.add('d-none');
                            window.location.reload(); // Полное обновление страницы
                        }, 3000);
                    } else {
                        progressText.textContent = `Ошибка: ${data.error_text || 'Неизвестная ошибка'}`;
                        setTimeout(() => progressBar.classList.add('d-none'), 5000);
                    }
                })
                .catch(() => {
                    progressText.textContent = 'Ошибка проверки статуса';
                    setTimeout(() => progressBar.classList.add('d-none'), 5000);
                });
        }

    </script>

{% endblock %}