{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Create{% endif %} Event{% endblock %}

{% block content %}
    <div class="container mt-4">
    <h1>Редактирование мероприятия</h1>
    <form method="post" hx-post="{% url 'references:event-update' object.id %}" hx-target="body" hx-swap="outerHTML">
        {% csrf_token %}
        {{ form|crispy }}

        <h2>Время</h2>
        <div id="event-times-list">
            {% include 'references/partials/event_times_list.html' with event=object %}
        </div>
        
        <button type="button" class="btn btn-secondary mt-2" hx-get="{% url 'references:event-times-create' object.id %}" hx-target="#event-times-form-container" hx-swap="innerHTML">
            Добавить время
        </button>

        <div id="event-times-form-container"></div>

        <button type="submit" class="btn btn-primary mt-4">Сохранить</button>
    </form>
</div>
{% endblock %}
