{% extends "base.html" %}

{% block title %}Мероприятия{% endblock %}
{% block content %}
    <div class="container">
        <h3>Мероприятия</h3>
        <a href="{% url 'references:event_template_create' %}" class="btn btn-primary mb-3">Добавить мероприятие</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th>Логотип</th>
                <th>Описание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for template in event_templates %}
                <tr>
                    <td><a href="{% url 'references:event_template_detail' template.pk %}">
                        {{ template.name }}
                    </a>
                    </td>
                    <td>
                        {% if template.logo %}
                        <img src="{{ template.logo.url }}" alt="Logo" width="50">
                        {% else %}
                        no photo
                        {% endif %}
                    </td>
                    <td>{{ template.description }}</td>
                    <td>
                        <a href="{% url 'references:event_template_update' template.pk %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'references:event_template_delete' template.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-x-circle"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
