{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Сеанс мероприятий{% endblock %}

{% block header %}
    <style>
        .form-check-inline {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h3>{% if object %}Редактирование{% else %}Создание{% endif %} сеанса мероприятия</h3>
        <form method="post" hx-post="
                {% if object %}{{ object.get_update_url }}{% else %}{% url 'references:event-create' %}{% endif %}"
              hx-target="body" hx-swap="outerHTML">
            {% csrf_token %}
            {{ form.name|as_crispy_field }}
            {{ form.event_template|as_crispy_field }}
            <div class="mb-3">
                <div class="form-check-inline">
                    {{ form.begin_date|as_crispy_field }}
                </div>
                <div class="form-check-inline">
                    {{ form.end_date|as_crispy_field }}
                </div>
                <div class="form-check-inline">
                    {{ form.quantity|as_crispy_field }}
                </div>
            </div>

            <div class="mb-3">
                <div class="form-check form-check-inline">
                    {{ form.on_monday.label_tag }} {{ form.on_monday }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form.on_tuesday.label_tag }} {{ form.on_tuesday }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form.on_wednesday.label_tag }} {{ form.on_wednesday }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form.on_thursday.label_tag }} {{ form.on_thursday }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form.on_friday.label_tag }} {{ form.on_friday }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form.on_saturday.label_tag }} {{ form.on_saturday }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form.on_sunday.label_tag }} {{ form.on_sunday }}
                </div>
            </div>

            <h4>Время</h4>
            <div id="event-times-list">
                {% if object %}
                    {% include 'references/partials/event_times_list.html' with event=object %}
                {% endif %}
            </div>

            <div class="mt-2">                
                <button type="button" class="btn btn-outline-primary"
                        hx-get="{% if object %}{% url 'references:event-times-create' object.id %}{% else %}#{% endif %}"
                        hx-target="#modal-body-content"
                        hx-swap="innerHTML"
                        hx-trigger="click" data-bs-toggle="modal" data-bs-target="#editTimeModal" 
                        {% if not object %} disabled {% endif %}>
                    Добавить время
                </button>
                
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'references:event-list' %}" class="btn btn-secondary">Закрыть</a>
            </div>
        </form>

        <!-- Модальное окно для формы добавления времени -->
        <div class="modal fade" id="editTimeModal" tabindex="-1" aria-labelledby="editTimeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg"> <!-- Размер окна изменен на modal-lg -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editTimeModalLabel">Время</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-body-content">
                        <!-- Сюда будет загружена форма с помощью HTMX -->
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        
    </script>
{% endblock %}