{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load form_filters %}

{% block title %}{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} шаблона мероприятий{% endblock %}

{% block content %}
    <div class="container">
        <h3>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} шаблона мероприятий</h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.name|as_crispy_field }}
                {{ form.logo|as_crispy_field }}
            </div>
            <div>
                {{ form.description|as_crispy_field }}
            </div>

            <!-- Раздел для работы с EventTemplateServices -->
            <h4 class="mt-4">Услуги шаблона</h4>
            <div id="event-template-services-list">
                {% if form.instance.pk %}
                    {% include 'references/partials/event_template_services_list.html' with event_template=form.instance %}
                {% endif %}
            </div>

            {% if form.instance.pk %}
                <!-- Кнопка для добавления услуги -->
                <button type="button" class="btn btn-outline-primary"
                        hx-get="{% url 'references:event-template-service-create' form.instance.pk %}"
                        hx-target="#modal-body-content"
                        hx-trigger="click" data-bs-toggle="modal" data-bs-target="#editServiceModal">
                    Добавить услугу
                </button>
            {% else %}
                Для добавления услуги необходимо сохранить шаблон мероприятий
            {% endif %}

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'references:event_template_list' %}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>

        <!-- Модальное окно для форм (создание/редактирование/удаление) -->
        <div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg"> <!-- Размер окна изменен на modal-lg -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editServiceModalLabel">Услуга</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Сюда будет загружена форма с помощью HTMX -->
                        <div id="modal-body-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
