{% extends "base.html" %}

{% block title %}Мероприятия{% endblock %}
{% block content %}
    <div class="container">
        <h3>Мероприятия</h3>
        <a href="{% url 'references:event-create' %}" class="btn btn-primary mb-3">Добавить мероприятие</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Шаблон</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for event in object_list %}
                <tr>
                    <td>{{ event.event_template.name }}</td>
                    <td>{{ event.begin_date }}</td>
                    <td>{{ event.end_date }}</td>
                    <td>
                        <a href="{% url 'references:event-detail' event.pk %}" class="btn btn-info btn-sm">Просмотр</a>
                        <a href="{% url 'references:event-update' event.pk %}" class="btn btn-warning btn-sm">Изменить</a>
                        <a href="{% url 'references:event-delete' event.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
