{% extends "base.html" %}

{% block title %}Шаблон мероприятия{% endblock %}
{% block content %}
    <div class="container">
        <h3>Вы уверены что хотите уадлить шаблон мероприятия "{{ event_template.name }}"?</h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Да, удалить</button>
            <a href="{% url 'references:event_template_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock %}
