{% extends "base.html" %}

{% block title %}Шаблон мероприятия{% endblock %}
{% block content %}
    <div class="container">
        <h3>{{ event_template.name }}</h3>
        {% if event_template.logo %}
            <img src="{{ event_template.logo.url }}" alt="Logo" class="img-fluid mb-3">
        {% endif %}
        <p>{{ event_template.description }}</p>

        <!-- Раздел для работы с EventTemplateServices -->
        <h4 class="mt-4">Доступные услуги</h4>
        <div id="event-template-services-list">            
            {% include 'references/partials/event_template_services_list_view.html' with event_template=event_template %}            
        </div>
    
        <a href="{% url 'references:event_template_update' event_template.id %}" class="btn btn-primary">Изменить</a>
        <a href="{% url 'references:event_template_list' %}" class="btn btn-secondary">Закрыть</a>
    </div>
{% endblock %}
