{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Инвентарь{% endblock %}

{% block content %}
<div class="container">
    <h3>Инвентарь</h3>
    {% if perms.references.add_inventory %}
        <a href="{% url 'references:inventory-create' %}" class="btn btn-primary mb-2">Добавить инвентарь</a>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Размер</th>
                <th>Количество</th>
                {% if perms.references.change_inventory %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for inventory in object_list %}
            <tr>
                <td>
                    <a href="{% url 'references:inventory-detail' inventory.id %}">
                        {{ inventory.name }}
                    </a>
                </td>
                <td>{{ inventory.size }}</td>
                <td>{{ inventory.quantity }}</td>
                <td>
                    {% if perms.references.change_inventory %}
                        <a href="{% url 'references:inventory-update' inventory.id %}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                    {% if perms.references.delete_inventory %}
                        <a href="{% url 'references:inventory-delete' inventory.id %}" class="btn btn-sm btn-danger"><i class="bi bi-x-circle"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Нет данных для отображения.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
