{% extends 'base.html' %}

{% block title %}Информация о инвентаре{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>{{ object.name }}</h3>
    <p>Мероприятие: {{ object.event.name }}</p>
    <p>Размер: {{ object.size }}</p>
    <p>Количество: {{ object.quantity }}</p>
    <p>Стоимость: {{ object.cost }}</p>
    {% if perms.references.change_inventory %}
        <a href="{% url 'references:inventory-update' object.id %}" class="btn btn-primary">Изменить</a>
    {% endif %}
    <a href="{% url 'references:inventory-list' %}" class="btn btn-secondary">Закрыть</a>
</div>
{% endblock %}