{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Услуги</h1>
    <a href="{% url 'references:service-create' %}" class="btn btn-primary mb-2">Добавить услугу</a>
    <ul class="list-group">
        {% for service in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'references:service-detail' service.id %}">
                {{ service.name }} ({{ service.event.name }} {{ service.inventory }})
            </a>
            <span>
                <a href="{% url 'references:service-update' service.id %}" class="btn btn-sm btn-warning">Изменить</a>
                <a href="{% url 'references:service-delete' service.id %}" class="btn btn-sm btn-danger">Удалить</a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}