{% extends 'base.html' %}

{% block title %}Информация об услуге{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ object.name }}</h1>
    <p>Наименование: {{ object.name }}</p>    
    <p>Стоимость: {{ object.cost }}</p>
    <p>Инвентарь: {{ object.inventory }}</p>
    <a href="{% url 'references:service-update' object.id %}" class="btn btn-warning">Изменить</a>
    <a href="{% url 'references:service-list' %}" class="btn btn-secondary">Назад к списку</a>
</div>
{% endblock %}