{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Услуги</h3>
    <a href="{% url 'references:service-create' %}" class="btn btn-primary mb-2">Добавить услугу</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Стоимость</th>
                <th>Инвентарь</th>
                <th>Учитывать в подсчете билетов</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for service in object_list %}
            <tr>
                <td>
                    <a href="{% url 'references:service-detail' service.id %}">
                        {{ service.name }}
                    </a>
                </td>
                <td>{{ service.cost }}</td>
                <td>
                    {% if service.inventory %}
                        {{ service.inventory.name }}
                    {% else %}
                        <em>---</em>
                    {% endif %}
                </td>
                <td>                    
                    {% if service.on_calculation %}
                        <i class="bi bi-check-circle-fill text-success"></i> <!-- Green checkmark for active -->
                    {% else %}
                        <i class="bi bi-x-circle-fill text-danger"></i> <!-- Red cross for inactive -->
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'references:service-update' service.id %}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'references:service-delete' service.id %}" class="btn btn-sm btn-danger"><i class="bi bi-x-circle"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Нет данных для отображения.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
