<div style="max-width: 250px; padding-top: 40px;">
<nav class="vertical-nav">
    <ul class="nav flex-column">

    {% if perms.ticket_sales.add_ticketsale %}
    <li class="part-nav-item">
        <a href="{% url 'ticket_sales:ticket-sale-list' %}"
        class="nav-link razdel {% if 'ticket-sales' in request.path and not 'terminal' in request.path %}active{% endif %}">
            <i class="bi bi-ticket-perforated-fill me-2"></i>Заказы
        </a>
    </li>
    {% endif %}
    
    {% if perms.references.add_eventtemplate or perms.references.add_event or perms.references.add_inventory or perms.references.add_service %}
    <li class="part-nav-item">
        <a class="nav-link razdel disabled" href="#">Справочники</a>

        <ul class="nav flex-column nested-nav">
            {% if perms.references.add_eventtemplate %}
            <li class="nav-item">
                <a href="{% url 'references:event_template_list' %}"
                class="nav-link {% if 'references/event-template' in request.path %}active{% endif %}">
                    <i class="bi bi-file-earmark-text-fill me-2"></i> Мероприятия
                </a>
            </li>
            {% endif %}

            {% if perms.references.add_event %}
            <li class="nav-item">
                <a href="{% url 'references:event-list' %}"
                class="nav-link {% if 'references/event' in request.path and not 'event-template' in request.path %}active{% endif %}">
                    <i class="bi bi-calendar-event me-2"></i> Сеансы мероприятий
                </a>
            </li>
            {% endif %}

            {% if perms.references.add_inventory %}
            <li class="nav-item">
                <a href="{% url 'references:inventory-list' %}"
                class="nav-link {% if 'references/inventory' in request.path %}active{% endif %}">
                    <i class="bi bi-box-seam-fill me-2"></i> Инвентарь
                </a>
            </li>
            {% endif %}

            {% if perms.references.add_service %}
            <li class="nav-item">
                <a href="{% url 'references:service-list' %}"
                class="nav-link {% if 'references/service' in request.path %}active{% endif %}">
                    <i class="bi bi-wrench me-2"></i> Услуги
                </a>
            </li>
            {% endif %}
        </ul>    
    </li>
    {% endif %}
    
    {% if perms.reports.view_sales_report or perms.reports.view_events_report or perms.reports.view_tickets_report or perms.reports.view_services_report %}
    <li class="part-nav-item">
        <a class="nav-link razdel disabled" href="#">Отчеты</a>

        <ul class="nav flex-column nested-nav">
            {% if perms.reports.view_sales_report %}
                <li class="nav-item">
                    <a href="{% url 'reports:sales_report' %}?start_date={% now 'd-m-Y' %}&end_date={% now 'd-m-Y' %}"
                    class="nav-link {% if '/reports/sales/' in request.path %}active{% endif %}">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Отчет продажи
                    </a>
                </li>
            {% endif %}

            {% if perms.reports.view_events_report %}
                <li class="nav-item">
                    <a href="{% url 'reports:sessions_report' %}?start_date={% now 'd-m-Y' %}&end_date={% now 'd-m-Y' %}"
                    class="nav-link {% if '/reports/sessions/' in request.path %}active{% endif %}">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Отчет по сеансам
                    </a>
                </li>
            {% endif %}

            {% if perms.reports.view_tickets_report %}
                <li class="nav-item">
                    <a href="{% url 'reports:tickets_report' %}?start_date={% now 'd-m-Y' %}&end_date={% now 'd-m-Y' %}"
                    class="nav-link {% if '/reports/tickets/' in request.path %}active{% endif %}">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Отчет Реестр билетов
                    </a>
                </li>
            {% endif %}

            {% if perms.reports.view_services_report %}
                <li class="nav-item">
                    <a href="{% url 'reports:services_report' %}?start_date={% now 'd-m-Y' %}&end_date={% now 'd-m-Y' %}"
                    class="nav-link {% if '/reports/services/' in request.path %}active{% endif %}">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Отчет Реестр видов услуг
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}

    {% if perms.ticket_sales.change_terminalsettings %}
    <li class="part-nav-item">
        <a class="nav-link razdel disabled" href="#">Настройки</a>
        
        <ul class="nav flex-column nested-nav">            
            <li class="nav-item">
                <a href="{% url 'ticket_sales:terminal-settings-cashier' %}"
                class="nav-link {% if 'terminal-settings-cashier' in request.path %}active{% endif %}">
                    <i class="bi bi-gear-wide-connected"></i> Настройки терминала для кассира
                </a>
            </li>
                
            <li class="nav-item">
                <a href="{% url 'ticket_sales:terminal-settings-terminal' %}"
                class="nav-link {% if 'terminal-settings-terminal' in request.path %}active{% endif %}">
                    <i class="bi bi-gear-wide-connected"></i> Настройки терминала для киоска
                </a>        
            </li>            
        </ul>
    </li>
    {% endif %}

    </ul>
</nav>
</div>