{% load crispy_forms_tags %}

<form method="post"
      {% if form.instance.id %}
          hx-post="{% url 'ticket_sales:ticket-sales-service-update' form.instance.ticket_sale.id form.instance.id %}"
      {% else %}
          hx-post="{% url 'ticket_sales:ticket-sales-service-create' ticket_sale.id %}"
      {% endif %}
      hx-target="#ticket-sales-service-list" hx-swap="innerHTML">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">
        {% if form.instance.id %}
            Записать
        {% else %}
            Добавить
        {% endif %}
    </button>
</form>

{% block scripts %}
<script>
    document.body.addEventListener('htmx:afterRequest', function (event) {
        // Если это была успешная отправка формы, обновляем страницу
        window.setTimeout(function () {
            window.location.reload();
        }, 500); // Можете настроить задержку, если нужно
    });
</script>
{% endblock %}