<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label fw-bold">Продажа билета:</label>
            <p>{{ object.ticket_sale }}</p>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Дата оплаты:</label>
            <p>{{ object.payment_date|date:"d.m.Y H:i" }}</p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label fw-bold">Метод оплаты:</label>
            <p>{{ object.get_payment_method_display }}</p>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Сумма оплаты:</label>
            <p>{{ object.amount }} ₸</p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label fw-bold">Идентификатор процесса:</label>
            <p>{{ object.process_id }}</p>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Идентификатор транзакции:</label>
            <p>{{ object.transaction_id }}</p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label fw-bold">Последний статус:</label>
            <p>{{ object.last_status }}</p>
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Текст ошибки:</label>
            <p>{{ object.error_text }}</p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <label class="form-label fw-bold">Полученные данные:</label>
            <p>{{ object.response_data }}</p>
        </div>
    </div>
</div>

{% block scripts %}
    <script>
        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Если это была успешная отправка формы, обновляем страницу
            window.setTimeout(function () {
                window.location.reload();
            }, 500); // Можете настроить задержку, если нужно
        });

        // Закрываем модальное окно после успешного сохранения формы
        function closeModal() {
            var modalElement = document.getElementById('editPaymnentModal');
            var modalInstance = bootstrap.Modal.getInstance(modalElement);
            modalInstance.hide();
        }
    </script>
{% endblock %}