{% load crispy_forms_tags %}
{% load form_filters %}

<form method="post"
        {% if form.instance.id %}
      hx-post="{% url 'ticket_sales:ticket-sales-service-update' form.instance.ticket_sale.id form.instance.id %}"
        {% else %}
      hx-post="{% url 'ticket_sales:ticket-sales-service-create' ticket_sale.id %}"
        {% endif %}
      hx-target="#ticket-sales-service-list" hx-swap="innerHTML"
      hx-on="htmx:afterRequest: closeModal">
    {% csrf_token %}
    {#    {{ form|crispy }}#}

    <!-- Первая строка с полями service, event, event_date, event_time -->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form.service.label_tag }}
                {{ form.service|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form.event.label_tag }}
                {{ form.event|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form.event_date.label_tag }}
                {{ form.event_date|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form.event_time.label_tag }}
                {{ form.event_time|add_class:"form-control" }}
            </div>
        </div>
    </div>

    <!-- Вторая строка с полями inventory, inventories_count -->
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="form-group">
                {{ form.inventory.label_tag }}
                {{ form.inventory|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form.inventories_count.label_tag }}
                {{ form.inventories_count|add_class:"form-control" }}
            </div>
        </div>
    </div>

    <!-- Третья строка с полями tickets_count, tickets_amount, discount, total_amount -->
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="form-group">
                {{ form.tickets_count.label_tag }}
                {{ form.tickets_count|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form.tickets_amount.label_tag }}
                {{ form.tickets_amount|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form.discount.label_tag }}
                {{ form.discount|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form.total_amount.label_tag }}
                {{ form.total_amount|add_class:"form-control" }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-1">
        {% if form.instance.id %}
            Записать
        {% else %}
            Добавить
        {% endif %}
    </button>
</form>

{% block scripts %}
    <script>
        document.body.addEventListener('htmx:afterRequest', function (event) {
            // Если это была успешная отправка формы, обновляем страницу
            window.location.reload();
        });

        document.body.addEventListener('htmx:afterOnLoad', function (event) {
            var modalElement = document.getElementById('editServiceModal');

            // Убедимся, что модальное окно открыто
            var modalInstance = bootstrap.Modal.getInstance(modalElement) || new bootstrap.Modal(modalElement);
            modalInstance.show();
        });

        // Закрываем модальное окно после успешного сохранения формы
        function closeModal() {
            var modalElement = document.getElementById('editServiceModal');
            var modalInstance = bootstrap.Modal.getInstance(modalElement);
            modalInstance.hide();
        }
    </script>
{% endblock %}