{% if ticket_sale.ticketsalesservice_set.exists %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Услуга</th>
            <th>Кол-во билетов</th>
            <th>Дата сеанса</th>
            <th>Время сеанса</th>
            <th>Сумма билетов</th>
            <th>Скидка</th>
            <th>Итого</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for service in ticket_sale.ticketsalesservice_set.all %}
            <tr>
                <td>{{ service.service.name }}</td>
                <td>{{ service.tickets_count }}</td>
                <td>{{ service.event_date }}</td>
                <td>{{ service.event_time }} - {{ service.event_time_end }}</td>
                <td>{{ service.tickets_amount }} ₸</td>
                <td>{{ service.discount }} ₸</td>
                <td>{{ service.total_amount }} ₸</td>
                <td>
                    <button class="btn btn-sm btn-danger"
                            hx-get="{% url 'ticket_sales:service-delete' ticket_sale.id service.id %}"
                            hx-target="#modal-body-content"
                            hx-trigger="click" data-bs-toggle="modal" data-bs-target="#editServiceModal">
                        <i class="bi bi-x-circle"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center">Сеанс мероприятий не выбран</p>
{% endif %}